/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src:
    url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src:
    url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src:
    url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    vertical-align: middle;
}

body{
    font-family: 'Roboto';
    font-weight: 400;
    overflow-x: hidden;
}

.visually-hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container{
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header{
    background-image: url("../Images/header-bg.jpg");
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header-logo{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-list{
    display: flex;
    list-style: none;
}

.site-list-item{
    padding: 45px 0;
}

.site-list-item:nth-child(2){
    margin: 0 40px;
}

.site-list-item > a{
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
}




.hero-section{
    background-image: url("../Images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero{
    display: flex;
}

.hero-info{
    width: 447px;
    padding-top: 116px;
    padding-left: 64px;
}

.hero-heading{
    width: 545px;
}

.hero-heading-content{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #000000;
}

.hero-description{
    margin-top: 24px;
    margin-bottom: 34px;
    line-height: 24px;
    color: #000000;
}

.hero-button{
    display: inline-block;
    padding: 16px 24px;
    text-decoration: none;
    background: #0A775F;
    border-radius: 100px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    font-variant: small-caps;
    color: #FFFFFF;
}

.hero-right-image{
    position: relative;
    left: 280px;
}

.hero-right-image::before{
    position: absolute;
    content: "";
    background-image: url("../Images/hero-image-before.png");
    background-repeat: no-repeat;
    width: 190px;
    height: 190px;
    left: calc(50% - 460px);
    top: -50px;
}



.collection-section{
    margin: 20px 20px;
    background: url("../Images/collection-bg.jpg") no-repeat;
    background-size: cover;
}

.collection-heading{
    text-align: center;
    padding-top: 50px;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    font-variant: small-caps;
    color: #000000;
}

.collection-list{
    list-style: none;
}

.collection-list-item{
    display: flex;
    align-items: center;
}

.collection-list-item:nth-child(1){
    position: relative;
}

.collection-list-item:nth-child(1)::before{
    position: absolute;
    content: "";
    background: url("../Images/collection-bg-leaf.png") no-repeat;
    background-size: contain;
    width: 402px;
    height: 300px;
    top: -90px;
    left: -190px;
    z-index: 10;
}

.js-modal-open{
    border: none;
    background-color: transparent;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
}

.collection-list-item:nth-child(2){
    position: relative;
}

.collection-list-item:nth-child(2)::after{
    position: absolute;
    content: "";
    background: url("../Images/collection-bg-leaf2.png") no-repeat;
    background-size: contain;
    width: 402px;
    height: 300px;
    top: 150px;
    right: -25%;
}

.collection-list-item:nth-child(4){
    position: relative;
}

.collection-list-item:nth-child(4)::before{
    position: absolute;
    content: "";
    background: url("../Images/collection-bg-leaf3.png") no-repeat;
    background-size: contain;
    width: 316px;
    height: 269px;
    top: 0;
    left: -15%;
}

.collection-list-item:nth-child(2n){
    flex-direction: row-reverse;
}

.collection-list-item > img{
    margin-left: 80px;
}

.collection-list-item-box{
    width: 453px;
    margin-left: 140px;
}

.collection-list-item-even{
    margin-right: 140px;
}

.collection-list-item-box > h3{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    font-variant: small-caps;
    color: #333333;
}

.collection-list-item-box > p{
    font-size: 22px;
    line-height: 34px;
    color: #333333;
}


.about{
    margin: 20px;
    background-image: url("../Images/about-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.about-section{
    position: relative;
}

.about-content{
    width: 581px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 500px;
}

.about-content > h2{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    font-variant: small-caps;
    color: #FFFFFF;
}

.about-content > p{
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.about-list{
    position: absolute;
    top: 28%;
    display: flex;
    margin-top: 80px;
    list-style: none;
}

.about-list-item:first-child{
    position: relative;
}

.about-list-item:first-child::before{
    position: absolute;
    content: "";
    background-image: url("../Images/about-card-one-before.svg");
    background-repeat: no-repeat;
    width: 140px;
    height: 144px;
    left: -15%;
    top: -8%;
}

.about-list-item:nth-child(2){
    margin: 0 20px;
}

.about-list-item > h3{
    margin-top: 28px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #333333;
}

.about-list-item-desc{
    width: 377px;
}

.about-list-item-desc > p{
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}



.how-it{
    background-image: url("../Images/how-it-works-bg.png");
    background-size: cover;
    margin: 280px 20px 20px 20px;
    padding-top: 50px;
}

.how-it-heading{
    margin-bottom: 80px;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    font-variant: small-caps;
    color: #FFFFFF;
}

.rectangle-box{
    position: relative;
    display: flex;
}

.rectangle-box::after{
    position: absolute;
    content: "";
    background-image: url("../Images/how-it-works-sticker.png");
    background-repeat: no-repeat;
    width: 240px;
    height: 200px;
    top: -200%;
    right: 5%;
}

.rectangles{
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    background: #F8F8F2;
    border: 4px solid #C99B67;
}


.rectangles:first-child{
    margin-left: 30px;
}

.rectangles:nth-child(2){
    position: relative;
    margin: 0 393px;
}

.rectangles:nth-child(2)::before{
    position: absolute;
    content: "";
    background-image: url(../Images/rectangle-line.svg);
    background-repeat: no-repeat;
    width: 400px;
    height: 2px;
    right: 90%;
    top: 40%;
}

.rectangles:nth-child(2)::after{
    position: absolute;
    content: "";
    background-image: url(../Images/rectangle-line.svg);
    background-repeat: no-repeat;
    width: 400px;
    height: 2px;
    left: 100%;
    top: 40%;
}

.rectangle-list{
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    list-style: none;
}

.rectangle-list-item{
    width: 433px;
    padding: 20px 20px 40px 20px;
    background-color: #F8F8F2;
}

.rectangle-list-item:nth-child(2){
    margin: 0 20px;
}

.rectangle-list-item-num{
    margin-bottom: 45px;
    text-align: right;
    font-size: 64px;
    line-height: 75px;
    font-variant: small-caps;
    color: #333333;
}

.rectangle-list-item-heading{
    width: 245px;
    margin-bottom: 10px;
}

.rectangle-list-item-heading > h3{
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    font-variant: small-caps;
    color: #333333;
}

.rectangle-list-item-desc{
    width: 385px;
    
}

.rectangle-list-item-desc > p{
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}

.rectangle-button{
    width: 220px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
}

.rectangle-button > a{
    padding: 16px 24px;
    text-decoration: none;
    background: #C99B67;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    font-variant: small-caps;
    color: #FFFFFF;
}

.footer{
    background-image: url("../Images/header-bg.jpg");
    margin: 20px 0px 0 0px;
}

.footer-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-list{
    display: flex;
    padding: 70px 0;
    list-style: none;
}

.footer-list-item:nth-child(2){
    margin: 0 40px;
}

.footer-list-item > a{
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
}

.footer-link{
    display: flex;
}

.footer-link >a:nth-child(2) {
    margin: 0 30px;
}


/* Modal */
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-active{
    display: block;
}

.modal-contents{
    width: 561px;
    margin: 70px auto;
    background: #fff;
    animation: slowmotion 1s 1;
}

.modal-heading{
    background-color: #C99B67;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 30px;
}

.modal-heading > h2{
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    color: #fff;
}

.modal-box{
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
}

.modal-center > p:first-child{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #000000;
}

.modal-center > p:first-child > span{
    color: #0a775f;
}

.modal-center > p:last-child{
    margin-bottom: 63px;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
    opacity: 0.8;
}

.modal-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.modal-bottom > p{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000
}

.modal-checkout{
    display: inline-block;
    padding: 16px 24px;
    background: #0A775F;
    border-radius: 100px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
}

/* Next Page ------------------------------------------------------------------------- */



.commitment{
    position: relative;
    background-image: url("../Images/commitment-bg.png");
    background-size: contain;
    margin: 20px;
}

.commitment::before{
    position: absolute;
    content: "";
    background-image: url(../Images/collection-bg-leaf.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 402px;
    height: 300px;
    left: -5%;
    top: 40px;
}

.commitment-box{
    display: flex;
    padding-top: 160px;
    padding-bottom: 200px;
}

.commitment-image{
    margin-left: 145px;
}

.commitment-info{
    width: 626px;
    margin-left: 185px;
}

.commitment-info > h2{
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    font-variant: small-caps;
    color: #000000;
}

.commitment-info > p{
    font-size: 18px;
    line-height: 30px;
    color: #333333;
}


.quality{
    position: relative;
    background-image: url(../Images/about-bg.jpg);
    background-size: contain;
    margin: 20px;
}

.quality::after{
    position: absolute;
    content: "";
    background: url("../Images/quality-img.jpg") no-repeat;
    background-size: contain;
    width: 550px;
    height: 500px;
    top: -90px;
    right: 30px;
}

.quality-box{
    width: 639px;
    margin-left: 145px;
    padding-top: 100px;
    padding-bottom: 118px;
}

.quality-heading{
    width: 397px;
    margin-bottom: 24px;
}

.quality-heading > h2{
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    font-variant: small-caps;
    color: #FFFFFF;
}

.quality-box > p{
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.8;
}


.quarter{
    width: 100%;
    background: url("../Images/how-it-works-bg.png") no-repeat;
    background-size: cover;
    margin: 20px;
}

.quarter-heading{
    width: 431px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding-top: 50px;
}

.quarter-heading > h2{
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    font-variant: small-caps;
    color: #FFFFFF;
}

.quarter-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding-bottom: 100px;
}

.quarter-list-item:first-child{
    padding: 95px 182px 38px 20px;
}

.quarter-list-item{
    position: relative;
    width: 433px;
    margin-right: 20px;
    background-color: #F8F8F2;
    padding: 140px 182px 40px 20px;
}

.quarter-list-item::after{
    position: absolute;
    content: "";
    background: url("../Images/headquarter-one.svg") no-repeat;
    width: 120px;
    height: 150px;
    top: 35px;
    right: 40px;
}

.quarter-list-item:nth-child(2){
    position: relative;
}

.quarter-list-item:nth-child(2):after{
    position: absolute;
    content: "";
    background: url("../Images/headquarter-two.svg") no-repeat;
    width: 120px;
    height: 150px;
    top: 35px;
    right: 40px;
}

.quarter-list-item:nth-child(3){
    position: relative;
}

.quarter-list-item:nth-child(3):after{
    position: absolute;
    content: "";
    background: url("../Images/headquarter-three.svg") no-repeat;
    width: 120px;
    height: 150px;
    top: 35px;
    right: 40px;
}


.quarter-list-item > h3{
    width: 231px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    font-variant: small-caps;
    color: #333333;
}

.quarter-list-box{
    margin-top: 10px;
}

.quarter-list-box:first-child{
    margin-top: 8px;
}

.quarter-list-box > a{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
    text-decoration: none;
}

.quarter-list-box > address{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}

.quarter-list-box > address:nth-child(2){
    margin-top: 10px;
    margin-bottom: 10px;
}

.quarter-list-box > address:nth-child(3){
    margin-bottom: 10px;
}


@keyframes slowmotion{
    from{
        transform: translateY(-1000px);
    }
    to{
        transform: translateY(0);
    }
}


.create-box::after{
    position: absolute;
    content: "";
    background-image: none;
    width: 0px;
    height: 0px;
    top: 0%;
    right: 0%;
}

.create-section{
    padding-bottom: 80px;
}

.create-it{
    margin-top: 20px;
}



/* Create Plan Page */
.drinking{
    background-image: url("../Images/collection-bg.jpg");
    background-position: center;
    margin: 20px;
}

.drinking-box{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
}

.drinking-type-list{
    list-style: none;
}

.drinking-type-list-item{
    margin-bottom: 35px;
}

.drinking-list-item-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-transform: uppercase;
    color: #555555;
}

.drinking-list-item-first{
    color: #000000;
    border-bottom: 3px dashed #C99B67;
}

.drinking-option-box{
    padding-top: 50px;
    padding-right: 142px;
}



.drinking-heading{
    position: relative;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    font-variant: small-caps;
    color: #000000;
}

.drinking-heading::after{
    position: absolute;
    content: "";
    top: 20px;
    width: 18px;
    height: 10px;
    margin-left: 45px;
    background-image: url("../Images/down-icon.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.6s ease;

}

.drinking-heading:first-child{
    margin-bottom: 20px;
}

.drinking-summary{
    position: relative;
    width: 660px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-right: 20px;
    background-color: #C99B67;
}

.drinking-summary-heading{
    margin-bottom: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.drinking-summary-description{
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #fff;
}

.drinking-summary-description > span{
    color: #333333;
}

.drinking-button{
    display: inline-block;
    padding: 16px 24px;
    background: #0A775F;
    border-radius: 100px;
    color: #fff;
    float: right;
}

.drinking-form{
    width: 660px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drinking-label{
    padding-top: 30px;
    background: #0A775F;
    opacity: 0.2;
}

.drinking-choice-list{
    position: relative;
    display: flex;
    margin-bottom: 60px;
    list-style: none;
}

.drinking-choice-item{
    margin-right: 20px;
    padding-top: 30px;
    padding-right: 16px;
    padding-left: 16px;
    background: #0A775F;
    opacity: 0.2;
}

.drinking-choice-content-box{
    width: 173px;
}

.drinking-choice-content-box > h4{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    font-variant: small-caps;
    color: #FFFFFF;
}

.drinking-choice-content-box > p{
    padding-bottom: 80px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.drinking-choice-desc{
    padding-bottom: 40px;
}

.drinking-input:checked ~ .drinking-choice-item{
    background: #0A775F;
    opacity: 1;
}

.create-footer{
    margin-top: 50px;
}


.drinking-details-box{
    display: block;
}

.drinking-details{
    width: 660px;
    margin-right: 40px;
}
 

.drinking-heading{
    list-style: none;
}

.drinking-details:nth-child(1){
    position: relative;
}

.drinking-details:nth-child(1)::after{
    position: absolute;
    content: "";
    background-image: url("../Images/collection-bg-leaf2.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 402px;
    height: 300px;
    top: 0%;
    right: -65%;
    bottom: 0;
    z-index: 10;
}



.drinking-details:nth-child(3){
    position: relative;
}

.drinking-details:nth-child(3)::after{
    position: absolute;
    content: "";
    background-image: url("../Images/collection-bg-leaf.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 402px;
    height: 300px;
    top: 0%;
    left: -880px;
    bottom: 0;
    z-index: 10;
}

.drinking-details:nth-child(5){
    position: relative;
}

.drinking-details:nth-child(5)::after{
    position: absolute;
    content: "";
    background-image: url("../Images/collection-bg-leaf3.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 402px;
    height: 300px;
    top: 0%;
    left: -980px;
    bottom: 0;
    z-index: 2;
}

.drinking-details[open] .drinking-heading::after{
    transform: rotate(180deg);
} 

